  .background {
      background: url(https://wallpaperaccess.com/full/2114456.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; 
  }
  
  .center {
    margin: auto;
    margin-top: 200px;
  }
  
  #header {
    font-family: 'Righteous', sans-serif;
    font-size: 3rem;
  }
  
  h2 {
    font-family: 'Righteous', sans-serif;
  }
  
  .book-list {
    margin-top: 50px;
    visibility: hidden;
  }
  