{% extends "layout.html" %}

{% block title %}
    Add Book
{% endblock %}

{% block main %}
    <form action="/add_book" method="post">
        <div class="mb-3">
    </form>
  <body class="background">
    <div class="container">
      <div id="title" class="center">
        <span id = "header" class="text-center mt-5" style="background-color: #FFFFFF">Search For Any Book</span>
        <div class="row">
          <form action="/add-books" method="post">
            <div class="mb-3">
                <input autocomplete="off" name="isbn" placeholder="Type an ISBN #" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
          <div>
        </div>
      </div>
    </div>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <link rel="stylesheet" href="css/styles.css">
    <script src="myscript.js"></script>
  </body>
{% endblock %}